{% extends 'base.html' %}

{% block title %} Buy Deals! {% endblock %}


{% block body %}
<div class="navbar">
    <div class="row" style="margin: 10px;">
      <div class="col " style="margin: 3px;">
        <div class="list-group" id="right1">
            <a href="#hot-deals" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/BMEAL2.png') }}" alt="Discounted">
                <p class="link-name">What's Hot</p>
            </a>
            <a href="#secret-deals" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/2PCCHK.png') }}" alt="Discounted">
                <p class="link-name">Secret Deals</p>
            </a>
            <a href="#beloved-deals" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/BUCK10.png') }}" alt="Discounted">
                <p class="link-name">Favorites</p>
            </a>
        </div>
        </div>
    </div>
</div>
<section id="hot-deals">
    <div class="deals-menu-header">
        <h3>Flash Deals</h3>
    </div>
    <div class="menu-container">
        <div class="menu-item">
            {% for item in items %}
    {% if item.in_stock > 0 %}
        <div class="menu-card">
            <button class="toggle-btn"><i class="fas fa-exclamation-circle"></i></button>
            <div class="toggleDescription">
                <p>{{ item.description }}</p>
            </div>
            <img src="{{ url_for('static', filename='media/'+item.product_image.split('/')[-1] if '/' in item.product_image else item.product_image) }}" alt="Menu item">
            <div class="row">
                <span class="menu-title">{{ item.product_name }}</span>
                <h5>₱ {{ item.current_price }}0</h5>
                <strike><p>₱ {{ item.previous_price }}0</p></strike>
            </div>
            <div class="row">
                <div class="col">
                {% if item.in_stock == 0 and item.flash_sale %}
                    <p class="btn red">Sold Out</p>
                {% else %}
                    {% if current_user.is_authenticated %}
                        <a class="btn red" id="product-click-btn" data-product-id="{{ item.id }}" href="/add-to-cart/{{ item.id }}">Add to Cart</a>
                    {% else %}
                        <a class="btn red" href="/login">Order Now</a>
                    {% endif %}
                {% endif %}

                </div>
            </div>
            <div class="row">
                <p>{{ item.in_stock }} left in stock</p>
            </div>
        </div>
    {% endif %}
{% endfor %}
        </div>
    </div>
</section>
<section id="secret-deals">
    <div class="deals-menu-header">
        <h3>Secret Deals</h3>
    </div>
    <div class="menu-container">
        <div class="menu-item">
            {% for item in all_items %}
    {% if item.in_stock > 0 %}
        <div class="menu-card">
            <button class="toggle-btn"><i class="fas fa-exclamation-circle"></i></button>
            <div class="toggleDescription">
                <p>{{ item.description }}</p>
            </div>
            <img src="{{ url_for('static', filename='media/'+item.product_image.split('/')[-1] if '/' in item.product_image else item.product_image) }}" alt="Menu item">
            <div class="row">
                <span class="menu-title">{{ item.product_name }}</span>
                <h5>₱ {{ item.current_price }}0</h5>
                <strike><p>₱ {{ item.previous_price }}0</p></strike>
            </div>
            <div class="row">
                <div class="col">
                    {% if current_user.is_authenticated %}
                        <a class="btn red" id="product-click-btn" data-product-id="{{ item.id }}" href="/add-to-cart/{{ item.id }}">Add to Cart</a>
                    {% else %}
                        <a class="btn red" href="/login">Order Now</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p>{{ item.in_stock }} left in stock</p>
            </div>
        </div>
    {% endif %}
{% endfor %}

        </div>
    </div>
</section>
<section id="beloved-deals">
    <div class="deals-menu-header">
        <h3>Favorites</h3>
    </div>
    <div class="menu-container">
        <div class="menu-item">
            {% for item in beloved_items %}
    {% if item.in_stock > 0 %}
        <div class="menu-card">
            <button class="toggle-btn"><i class="fas fa-exclamation-circle"></i></button>
            <div class="toggleDescription">
                <p>{{ item.description }}</p>
            </div>
            <img src="{{ url_for('static', filename='media/'+item.product_image.split('/')[-1] if '/' in item.product_image else item.product_image) }}" alt="Menu item">
            <div class="row">
                <span class="menu-title">{{ item.product_name }}</span>
                <h5>₱ {{ item.current_price }}0</h5>
                <strike><p>₱ {{ item.previous_price }}0</p></strike>
            </div>
            <div class="row">
                <div class="col">
                    {% if current_user.is_authenticated %}
                        <a class="btn red" id="product-click-btn" data-product-id="{{ item.id }}" href="/add-to-cart/{{ item.id }}">Add to Cart</a>
                    {% else %}
                        <a class="btn red" href="/login">Order Now</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p>{{ item.in_stock }} left in stock</p>
            </div>
        </div>
    {% endif %}
{% endfor %}
        </div>
    </div>
</section>
<section id="sold-out">
    <div class="deals-menu-header">
        <h3>Sold Out</h3>
    </div>
    <div class="menu-container">
        <div class="menu-item">
            {% for item in all_items %}
    {% if item.in_stock <= 0 %}
        <div class="menu-card">
            <button class="toggle-btn"><i class="fas fa-exclamation-circle"></i></button>
            <div class="toggleDescription">
                <p>{{ item.description }}</p>
            </div>
            <img src="{{ url_for('static', filename='media/'+item.product_image.split('/')[-1] if '/' in item.product_image else item.product_image) }}" alt="Menu item">
            <div class="row">
                <span class="menu-title">{{ item.product_name }}</span>
                <h5>₱ {{ item.current_price }}0</h5>
                <strike><p>₱ {{ item.previous_price }}0</p></strike>
            </div>
            <div class="row">
                <div class="col">
                        <p class="btn red">Sold Out</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
        </div>
    </div>
</section>
{% endblock %}