<div class="navbar">
    <div class="row" style="margin: 10px;">
      <div class="col " style="margin: 3px;">
        <div class="list-group" id="right1">
            <a href="/customers" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/accounts.png') }}" alt="add customer">
                <p class="link-name">View Customers</p>
            </a>
            <a href="/shop-items" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/viewitem.png') }}" alt="view item">
                <p class="link-name">View Items</p>
            </a>
            <a href="/add-shop-items" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/additems.jpeg') }}" alt="add items">
                <p class="link-name">Add items</p>
            </a>
            <a href="/view-orders" class="list-group-item list-group-item-action">
                <img class="menu-icon" src="{{ url_for('static', filename='assets/BMEAL2.png') }}" alt="order">
                <p class="link-name">View Orders</p>
            </a>
        </div>
        </div>
    </div>
</div>