            <div class="marquee-wrapper">
                <div class="marquee-item marquee-item1"><i class="fa-solid fa-drumstick-bite"></i></div>
                <div class="marquee-item marquee-item1"><i class="fa-solid fa-drumstick-bite"></i></div>
                <div class="marquee-item marquee-item1"><i class="fa-solid fa-drumstick-bite"></i></div>
                <div class="marquee-item marquee-item1"><i class="fa-solid fa-drumstick-bite"></i></div>
                <div class="marquee-item marquee-item5"><i class="fa-solid fa-pizza-slice"></i></div>
                <div class="marquee-item marquee-item6"><i class="fa-solid fa-pizza-slice"></i></div>
                <div class="marquee-item marquee-item7"><i class="fa-solid fa-pizza-slice"></i></div>
                <div class="marquee-item marquee-item8"><i class="fa-solid fa-user"></i></div>
            </div>